# Implementation of K-NN Algorithm
Importing Required Libraries. Let's first load the required libraries.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd

# Importing the dataset
To import the dataset and load it into our pandas dataframe, execute the following code:

In [3]:
dataset = pd.read_csv('diabetes.csv')
dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

# Preprocessing
The next step is to split our dataset into its features(independent variable) and target variable(dependent variable). To do so, use the following code:

In [20]:
X = dataset.iloc[:, :-1].values #features
Y = dataset.iloc[:, 8].values #target variable

# Splitting Data
To understand model performance, dividing the dataset into a training set and a test set is a good strategy.

In [10]:
# Split dataset into training set and test set
from sklearn.model_selection import train_test_split # Import train_test_split function
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=1) # 70% training and 30% test

# Generating Model for K=7
Let's build KNN classifier model for k=7.

In [11]:
#Import knearest neighbors Classifier model
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=7)

#Train the model using the training sets
knn.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [12]:
#Predict the response for test dataset
Y_pred = knn.predict(X_test)

In [13]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(Y_test, Y_pred))

Accuracy: 0.7619047619047619

In [16]:
#import confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,Y_pred)

array([[127,  19],
       [ 36,  49]], dtype=int64)

In [17]:
pd.crosstab(Y_test, Y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    0   1  All
True
0          127  19  146
1           36  49   85
All        163  68  231